script: 'test/test_git-status-tree'
os:
  - linux
  - osx
rvm:
  - 2.2.3
  - 2.1.7
  - 2.0.0
  - 1.9.3
  - 1.9.2
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - jruby-head
  - 1.8.7
  - ree
